<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/pagetitle') %>
        <link rel="stylesheet" href="/output.css" />
</head>

<body class="">
    <%- include('../partials/nav') %>
        <main class="">

            <div class="border-t-[1px] border-t-gray-300 px-3 overflow-y-auto">
                <h1 class=" text-center p-6 rounded-4xl font-medium text-2xl ">
                    Details Home
                </h1>
            </div>

            <div class="flex justify-center">
                <div
                    class="cursor-pointer font-medium rounded-2xl  flex gap-8 ">
                    <img class="object-center w-[30rem] object-cover rounded-2xl " src=<%= home.image_url %>
                    alt="">

                    <div class="flex flex-col gap-6">
                            <p class="text-3xl">
                                <%= home.house_name %>
                            </p>
                            <p class="text-[#FF385C] text-2xl ">
                                <%= home.price %> $
                            </p>

                            <p class=" text-2xl">
                                <%= home.location %>
                            </p>
                            <button class="px-2 rounded-[6px] bg-red-500  text-white">Book</button>
                        </div>
                    </div>

                </div>
            </div>
        </main>
</body>

</html>