<nav class="w-full h-16 flex justify-between text-center items-center gap-4 px-4">
  <div class="flex-1">
    <span class="font-bold text-2xl text-[#FF385C]" an>Airbnb</span>
  </div>
  <div class="flex-3 flex justify-center">
    <a class="<%= currentPage==='home'?'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition duration-150 rounded-[8px] p-1 px-3 font-medium"
      href="/">Home</a>
    <% if(isLogged){%>
      <a class="<%= currentPage==='bookings'?'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition duration-150 rounded-[8px] p-1 px-3 font-medium"
        href="/bookings">Booking</a>
      <a class="<%= currentPage==='fav-list'?'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition duration-150 rounded-[8px] p-1 px-3 font-medium"
        href="/fav-list">Favourite</a>
      <a class="<%= currentPage==='host-home'?'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition duration-150 rounded-[8px] p-1 px-3 font-medium"
        href="/host/host-home">Host Home</a>
      <a class="<%= currentPage==='addHome'?'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition duration-150 rounded-[8px] p-1 px-3 font-medium"
        href="/host/add-home">Add Home</a>
      <% }%>
  </div>
  <form action="<%= isLogged?'/logout':'/login'%>"
    method="<%= isLogged?'POST':'GET'%>"
      class="flex-1 h-16 flex items-center">
        <% if(!isLogged){ %>

          <button type="submit"
            class="<%= currentPage==='login'?'text-[#FF385C]' : 'hover:text-[#FF385C]' %> w-full cursor-pointer  transition duration-150 rounded-[8px] p-1 px-3 font-medium"
            >Login</button>
        <% }else{ %>
          
          <button type="submit"
          class="bg-[#FF385C] w-full cursor-pointer  transition duration-150 rounded-4xl p-3 font-medium"
          >Logout</button>

        <% } %>
  </form>
</nav>